@import "../app.scss";

.instructor-student-patient-container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.instructor-student-patient-header {
  font-size: 2.15rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.instructor-student-patient-button {
  color: white;
  background-color: $color-primary-dim;
  font-size: 35px;
  height: 125px;
  width: 400px;
  margin: 25px;
  text-align: center;
  cursor: pointer;
  transition: all .15s ease;
}

.instructor-student-patient-button:hover {
  background-color: $color-primary;
}
