@import "../app.scss";

.instructor-page-container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.instructor-page-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.instructor-student-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.instructor-page-list {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #eee;
  border-radius: 3px;
  margin: 10px;
  transition: all 0.2s ease;
  display: grid;
  grid-template-columns: 3fr 3fr 50px;
}

.instructor-page-list:hover {
  background-color: #ccc;
  transition: all 0.05s ease;
}

.instructor-page-list-name-col {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 10px;
}

.instructor-page-list-image-col {
  grid-column-start: 3;
  grid-column-end: 4;
}
