@import "../app.scss";

.instructor-student-patient-encounter-container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.instructor-student-patient-encounter {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #eee;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  transition: all 0.2s ease;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.instructor-student-patient-encounter:hover {
  background-color: #ccc;
  transition: all 0.05s ease;
}

.instructor-student-patient-encounter-date-col {
  grid-column-start: 1;
  grid-column-end: 2;
}

.instructor-student-patient-encounter-name-col {
  grid-column-start: 2;
  grid-column-end: 3;
}
