@import "../app.scss";

.templates-outermost {
  background-color: $background-dim;
}

.templates-main-container {
  position: relative;
  padding: 50px;
  margin: auto;
  width: 900px;
  height: calc(100% - 160px);
  background-color: white;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1),
    -12px 0 8px -4px rgba(0, 0, 0, 0.1);
}

.templates-title {
  display: inline;
  margin-right: 10px;

  h1 {
    margin-left: 10px;
    display: inline;
    font-size: 3rem;
    max-width: 800px;
  }
}

.templates-scroller {
  overflow-y: scroll;
  height: calc(100% - 80px);
}

.chevron-style {
  position: absolute;
  right: 60px;
  cursor: pointer;
  z-index: 100;
  padding: 10px;
  padding-right: 16px;
  margin-top: -10px;
}

.draggable-check {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: -2px;
    background-color: #ddd;
    transition: all 0.15 ease;
    border-radius: 3px;
    vertical-align: middle;
  }
  input[type="checkbox"]:hover {
    background-color: $color-primary-very-light;
  }
  input[type="checkbox"]:checked {
    background-color: $color-primary-light;
  }
}

.template-floating-add-btn{
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  background-color: $color-primary;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .15s ease;
}

.template-floating-add-btn:hover{
  background-color: $color-primary-dim;
}

.question-floating-save-btn{
  background-color: $color-primary;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all .15s ease;
}

.question-floating-back-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 68px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all .15s ease;
  background-color: $color-primary;
}

.question-floating-save-btn:hover, .question-floating-back-btn:hover{
  background-color: $color-primary-dim;
}

.template-editTitleBtn{
  color: #ccc;
  transition: all .15s ease;
}

.template-editTitleBtn:hover{
  color: black;
}

@media only screen and (max-width: 1080px) {
  .templates-main-container{
    width: auto;
  }
}
