// This file is imported in index.tsx

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

$our-font: "Comic Sans MS", sans-serif;
$color-primary: #a51c30;
$color-primary-dim: #791523;
$imported-font: "Poppins", sans-serif;

.my-class {
  font-size: 100px;
  font-family: $our-font;
  background-color: $color-primary;
}


.app-error-page{
  text-align: center;
}