@import "../app.scss";

.templates-outermost {
  background-color: $background-dim;
}

.templates-main-container {
  position: relative;
  overflow-y: scroll;
  padding: 50px;
  margin: auto;
  width: 900px;
  height: calc(100% - 160px);
  background-color: white;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.1),
    -12px 0 8px -4px rgba(0, 0, 0, 0.1);
}

.templates-title {
  h1 {
    margin-left: 10px;
    margin-bottom: 16px;
    font-size: 3rem;
  }
}

.templates-scroller {
  overflow-y: scroll;
  height: calc(100% - 80px);
}

.chevron-style {
  position: absolute;
  right: 60px;
  cursor: pointer;
  z-index: 100;
  padding: 10px;
  padding-right: 16px;
  margin-top: -10px;
}

.draggable-check {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: -2px;
    background-color: #ddd;
    transition: all 0.15 ease;
    border-radius: 3px;
    vertical-align: middle;
  }
  input[type="checkbox"]:hover {
    background-color: $color-primary-very-light;
  }
  input[type="checkbox"]:checked {
    background-color: $color-primary-light;
  }
}
